@import './variables';

*{
    font-family: $font !important;
    font-size: 20px;
    background-color: $background-color;
}

.main-navbar{
    min-height: 1em;
    background-color: $nav-background;
    // border-bottom: 1px solid $nav-border;
    padding: 1em 1em 2em 1em;
    a{
        color: black !important;
    }
    .navbar-nav{
    .router-link-active{
        text-decoration: underline;
    }
}
    @media (max-width: 768px)
    {
        padding: 0.5em 0 0.5em 0;
        border-bottom: 1px solid black;
        
        .navbar-brand-icons{
            padding-left: 1em;
        }
        .nav-link{
            padding-left: 1em;
        }
    }
}

.navbar-brand-icons{
    margin-right: 1em;
}

.main-footer{
    width: 100%;
    text-align: center;
   font-size: 0.8em;
}